@page "/Articulo"
@using TuNombreDelProyecto.Models

<h3>Registrar Artículo</h3>

<EditForm Model="articulo" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="articuloId">ID:</label>
        <InputNumber id="articuloId" @bind-Value="articulo.ArticuloId" />
    </div>
    <div>
        <label for="descripcion">Descripción:</label>
        <InputText id="descripcion" @bind-Value="articulo.Descripcion" />
    </div>
    <div>
        <label for="costo">Costo:</label>
        <InputNumber id="costo" @bind-Value="articulo.Costo" />
    </div>
    <div>
        <label for="ganancia">Ganancia:</label>
        <InputNumber id="ganancia" @bind-Value="articulo.Ganancia" />
    </div>
    <div>
        <label for="precio">Precio:</label>
        <InputNumber id="precio" @bind-Value="articulo.Precio" />
    </div>

    <button type="submit">Guardar</button>
</EditForm>

@code {
    private Articulo articulo = new Articulo();

    private void HandleValidSubmit()
    {
        
        Console.WriteLine("Artículo registrado exitosamente");
       
        articulo = new Articulo();
    }
}

